# Title

## Purpose

* 
* 
*

## References

1. author1, article1, journal1, year1, url1
2. author2, article2, journal2, year2, url2

## Library_Import

In [32]:
    # Data manipulation
import numpy as np
from bs4 import BeautifulSoup as bs
import pandas as pd
import pandas_datareader
from pandas_datareader import data as wb

    # Visualizations
import matplotlib as plt
%matplotlib inline
import chart_studio.plotly as py
import plotly
import plotly.tools as tls
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)

    # Cufflinks binds Plotly directly to pandas dataframes.
import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(theme='white')

    # IMPORT API FUNCTIONS
import quandl
import yfinance as yf
from yahoofinancials import YahooFinancials
import requests
import alpha_vantage
from alpha_vantage.timeseries import TimeSeries
import iexfinance
from iexfinance.stocks import Stock
from iexfinance.stocks import get_historical_data
from iexfinance.stocks import get_historical_intraday
from iexfinance.refdata import get_symbols
from iexfinance.data_apis import get_data_points
from iexfinance.data_apis import get_time_series
from iexfinance.altdata import get_social_sentiment
from iexfinance.altdata import get_ceo_compensation

    # MISC LIB IMPORTS
import jupytemplate
import locale
from datetime import date, datetime
from nsepy import get_history
import os
import time
import csv
import json
from patsy import dmatrices

    # lOCAL LIBRARY IMPORT
import jupytemplate
print(jupytemplate.get_template_path())
import sys

C:\Users\gordo\AppData\Local\Continuum\anaconda3\envs\notebook\lib\site-packages\jupytemplate\jupytemplate\template.ipynb


# Data_Import
We retrieve all the required data for the analysis.

##  Authentication

In [ ]:
quandl.ApiConfig.api_key="dbyBuiq4bczbbuz9bA4t"

https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?
    ticker=AAPL&api_key=dbyBuiq4bczbbuz9bA4t

## TICKER

In [7]:
quandl.get_table('SHARADAR/SF1', ticker='AAPL')

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2020-01-29,-3454000000,365725000000,372304500000,131339000000,...,4829926000,4955377000,5000109000,53.597,365725000000,0,13372000000,0,73.804,15410000000
1,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2020-01-29,-150000000,375319000000,346541250000,128645000000,...,5165228000,5217242000,5251692000,43.938,375319000000,0,15738000000,0,71.938,27831000000
2,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2020-01-29,634000000,321686000000,306462250000,106869000000,...,5388443000,5470820000,5500281000,39.416,313066000000,0,15685000000,0,57.225,27863000000
3,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2020-01-29,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,48.899,8768000000
4,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2020-01-29,1082000000,231839000000,221383000000,68531000000,...,5987867000,6085572000,6122663000,30.037,223081000000,4318000000,13973000000,0,36.657,5083000000
5,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2020-01-29,-471000000,207000000000,199421750000,73286000000,...,6359479000,6477320000,6521634000,26.386,201244000000,3453000000,13118000000,0,31.069,29628000000
6,AAPL,MRY,2012-12-31,2012-09-29,2012-09-29,2020-01-29,499000000,176064000000,157143750000,57653000000,...,6561842000,6543726000,6617483000,23.917,170705000000,2583000000,14030000000,0,26.087,19111000000
7,AAPL,MRY,2011-12-31,2011-09-24,2011-09-24,2020-01-29,443000000,116371000000,101193750000,44988000000,...,6489636202,6469806000,6556515000,16.731,111939000000,2014000000,8283000000,0,17.302,17018000000

## Dimension
* https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?dimension=MRY&ticker=AAPL&api_key=dbyBuiq4bczbbuz9bA4t

In [8]:
quandl.get_table('SHARADAR/SF1', dimension='MRY', ticker='AAPL')

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2020-01-29,-3454000000,365725000000,372304500000,131339000000,...,4829926000,4955377000,5000109000,53.597,365725000000,0,13372000000,0,73.804,15410000000
1,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2020-01-29,-150000000,375319000000,346541250000,128645000000,...,5165228000,5217242000,5251692000,43.938,375319000000,0,15738000000,0,71.938,27831000000
2,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2020-01-29,634000000,321686000000,306462250000,106869000000,...,5388443000,5470820000,5500281000,39.416,313066000000,0,15685000000,0,57.225,27863000000
3,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2020-01-29,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,48.899,8768000000
4,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2020-01-29,1082000000,231839000000,221383000000,68531000000,...,5987867000,6085572000,6122663000,30.037,223081000000,4318000000,13973000000,0,36.657,5083000000
5,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2020-01-29,-471000000,207000000000,199421750000,73286000000,...,6359479000,6477320000,6521634000,26.386,201244000000,3453000000,13118000000,0,31.069,29628000000
6,AAPL,MRY,2012-12-31,2012-09-29,2012-09-29,2020-01-29,499000000,176064000000,157143750000,57653000000,...,6561842000,6543726000,6617483000,23.917,170705000000,2583000000,14030000000,0,26.087,19111000000
7,AAPL,MRY,2011-12-31,2011-09-24,2011-09-24,2020-01-29,443000000,116371000000,101193750000,44988000000,...,6489636202,6469806000,6556515000,16.731,111939000000,2014000000,8283000000,0,17.302,17018000000

## Multiple Tickers
https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csvticker=AAPL,TSLA&api_key=dbyBuiq4bczbbuz9bA4t

In [9]:
quandl.get_table('SHARADAR/SF1', ticker=['AAPL','TSLA'])

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,TSLA,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-14,-8000000,29740000000,28546035500,8307000000,...,171732775,171000000,171000000,125.503,29390000000,0,58000000,0,171.871,-1686000000
1,TSLA,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-14,33348000,28655372000,26964969250,6570520000,...,168067395,166000000,166000000,70.837,28233633000,0,32000000,0,170.082,-1104150000
2,TSLA,MRY,2016-12-31,2016-12-31,2016-12-31,2020-02-14,-23740000,22664076000,14079281750,6259796000,...,149891190,144212000,144212000,48.541,22287931000,0,26698000,0,154.550,432791000
3,TSLA,MRY,2015-12-31,2015-12-31,2015-12-31,2020-02-14,-3556000,8067939000,7050912750,2782006000,...,130951319,128202000,128202000,31.560,8055123000,0,13039000,0,62.831,-29029000
4,TSLA,MRY,2014-12-31,2014-12-31,2014-12-31,2020-02-14,-22000,5830667000,5205768250,3180073000,...,125381798,124539000,124539000,25.682,5830667000,0,9404000,0,46.818,1072907000
5,TSLA,MRY,2013-12-31,2013-12-31,2013-12-31,2020-02-14,0,2416930000,1903690250,1265939000,...,122593928,119421000,119421000,16.860,2416930000,0,2588000,0,20.239,590779000
6,TSLA,MRY,2012-12-31,2012-12-31,2012-12-31,2020-02-14,0,1114190000,865334000,524768000,...,113778865,107349188,107349188,3.850,1114190000,0,136000,0,10.379,-14340000
7,TSLA,MRY,2011-12-31,2011-12-31,2011-12-31,2020-02-14,-3000,713448000,616785500,372838000,...,104298634,100388815,100388815,2.035,713448000,0,489000,0,7.107,181499000
8,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2020-01-29,-3454000000,365725000000,372304500000,131339000000,...,4829926000,4955377000,5000109000,53.597,365725000000,0,13372000000,0,73.804,15410000000
9,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2020-01-29,-150000000,375319000000,346541250000,128645000000,...,5165228000,5217242000,5251692000,43.938,375319000000,0,15738000000,0,71.938,27831000000
10,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2020-01-29,634000000,321686000000,306462250000,106869000000,...,5388443000,5470820000,5500281000,39.416,313066000000,0,15685000000,0,57.225,27863000000
11,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2020-01-29,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,48.899,8768000000
12,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2020-01-29,1082000000,231839000000,221383000000,68531000000,...,5987867000,6085572000,6122663000,30.037,223081000000,4318000000,13973000000,0,36.657,5083000000
13,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2020-01-29,-471000000,207000000000,199421750000,73286000000,...,6359479000,6477320000,6521634000,26.386,201244000000,3453000000,13118000000,0,31.069,29628000000
14,AAPL,MRY,2012-12-31,2012-09-29,2012-09-29,2020-01-29,499000000,176064000000,157143750000,57653000000,...,6561842000,6543726000,6617483000,23.917,170705000000,2583000000,14030000000,0,26.087,19111000000
15,AAPL,MRY,2011-12-31,2011-09-24,2011-09-24,2020-01-29,443000000,116371000000,101193750000,44988000000,...,6489636202,6469806000,6556515000,16.731,111939000000,2014000000,8283000000,0,17.302,17018000000

## Date
* https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?calendardate=2015-12-31&ticker=AAPL&api_key=dbyBuiq4bczbbuz9bA4t

In [11]:
quandl.get_table('SHARADAR/SF1', calendardate='2015-12-31', ticker='AAPL')

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2020-01-29,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,48.899,8768000000

## Operators
* https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?ticker=AAPL&calendardate.gte=2013-12-31&api_key=dbyBuiq4bczbbuz9bA4t

In [12]:
quandl.get_table('SHARADAR/SF1', calendardate={'gte':'2013-12-31'},
                 ticker='AAPL')

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2020-01-29,-3454000000,365725000000,372304500000,131339000000,...,4829926000,4955377000,5000109000,53.597,365725000000,0,13372000000,0,73.804,15410000000
1,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2020-01-29,-150000000,375319000000,346541250000,128645000000,...,5165228000,5217242000,5251692000,43.938,375319000000,0,15738000000,0,71.938,27831000000
2,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2020-01-29,634000000,321686000000,306462250000,106869000000,...,5388443000,5470820000,5500281000,39.416,313066000000,0,15685000000,0,57.225,27863000000
3,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2020-01-29,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,48.899,8768000000
4,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2020-01-29,1082000000,231839000000,221383000000,68531000000,...,5987867000,6085572000,6122663000,30.037,223081000000,4318000000,13973000000,0,36.657,5083000000
5,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2020-01-29,-471000000,207000000000,199421750000,73286000000,...,6359479000,6477320000,6521634000,26.386,201244000000,3453000000,13118000000,0,31.069,29628000000

## Indicators
* https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?ticker=AAPL&qopts.columns=ticker,dimension,datekey,revenue&api_key=dbyBuiq4bczbbuz9bA4t

In [13]:
quandl.get_table('SHARADAR/SF1', 
                 qopts={"columns":['ticker' ,'dimension','datekey',
                                   'revenue']}, ticker='AAPL')

     ticker dimension    datekey       revenue
None
0      AAPL       MRY 2018-09-29  265595000000
1      AAPL       MRY 2017-09-30  229234000000
2      AAPL       MRY 2016-09-24  215639000000
3      AAPL       MRY 2015-09-26  233715000000
4      AAPL       MRY 2014-09-27  182795000000
5      AAPL       MRY 2013-09-28  170910000000
6      AAPL       MRY 2012-09-29  156508000000
7      AAPL       MRY 2011-09-24  108249000000

## More than 10,000 Rows of Data
* in browser
https://www.quandl.com/api/v3/datatables/SHARADAR/SF1?qopts.export=true&api_key=dbyBuiq4bczbbuz9bA4t
* out of browser
https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?qopts.export=true&api_key=dbyBuiq4bczbbuz9bA4t

In [14]:
quandl.get_table('SHARADAR/SF1', 
                 calendardate={'gte':'2017-09-01','lte':'2018-01-10'},
                 paginate=True)

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,XOM,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-26,-16262000000,348691000000,346334750000,4.713400e+10,...,4237106077,4237106077,NaN,57.672,348691000000,0,-1174000000,29938000000,82.295,-1.063700e+10
1,WMT,MRY,2017-12-31,2018-01-31,2018-01-31,2019-12-04,-10181000000,204522000000,203805000000,5.966400e+10,...,2962381445,2995000000,3.010000e+09,167.059,186280000000,0,4600000000,8999000000,62.197,-1.885700e+10
2,VZ,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-21,2659000000,257143000000,252883500000,2.991300e+10,...,4079440836,4084000000,4.089000e+09,30.860,129307000000,0,-9956000000,31232000000,31.662,-3.124000e+09
3,V,MRY,2017-12-31,2017-09-30,2017-09-30,2020-02-01,878000000,67977000000,64643500000,1.902300e+10,...,2088062342,2104000000,2.654000e+09,8.725,25019000000,0,4995000000,5980000000,11.891,9.029000e+09
4,UTX,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-06,-7525000000,96920000000,94609500000,3.285800e+10,...,798569921,790000000,7.991000e+08,75.743,53127000000,1723000000,2843000000,0,67.249,8.467000e+09
5,UNH,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-15,-2667000000,139058000000,138686000000,3.708400e+10,...,969067449,964000000,9.850000e+08,208.671,76013000000,0,3200000000,2182000000,78.852,-1.337900e+10
6,TSLA,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-14,33348000,28655372000,26964969250,6.570520e+09,...,168067395,166000000,1.660000e+08,70.837,28233633000,0,32000000,0,170.082,-1.104150e+09
7,TRV,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-13,-343000000,103483000000,102927250000,NaN,...,273695876,276000000,2.786000e+08,104.717,99190000000,70000000,674000000,0,359.384,NaN
8,PG,MRY,2017-12-31,2017-06-30,2017-06-30,2020-01-23,-14632000000,120406000000,121143250000,2.649400e+10,...,2557614388,2557614388,NaN,25.437,51520000000,0,3063000000,8126000000,20.144,-3.716000e+09
9,PFE,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-28,-9321000000,171797000000,170322500000,4.114100e+10,...,5960707317,5970000000,6.058000e+09,8.802,67104000000,4905000000,-9049000000,23074000000,11.240,1.071400e+10
10,NKE,MRY,2017-12-31,2017-05-31,2017-05-31,2020-01-07,-213000000,23259000000,22554750000,1.606100e+10,...,1650766552,1657800000,1.692000e+09,20.720,22837000000,2787000000,646000000,1991000000,13.775,1.058700e+10
11,MSFT,MRY,2017-12-31,2017-06-30,2017-06-30,2020-01-29,627000000,250312000000,228115750000,1.626960e+11,...,7720514731,7746000000,7.832000e+09,12.467,205084000000,0,4412000000,19937000000,26.476,1.069510e+11
12,MRK,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-27,-4910000000,87872000000,92228250000,2.476600e+10,...,2724436835,2724436835,NaN,14.727,55405000000,0,4103000000,2927000000,20.336,6.152000e+09
13,MMM,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-06,-7026000000,37987000000,35118250000,1.427700e+10,...,595608108,597500000,6.127000e+08,52.982,24538000000,0,2679000000,310000000,41.068,6.590000e+09
14,MCD,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-26,-2178400000,33803700000,32817200000,5.327200e+09,...,797185588,807400000,8.155000e+08,28.264,31424000000,0,3381200000,4031500000,38.920,2.436600e+09
15,KO,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-24,-10305000000,87896000000,90189500000,3.654500e+10,...,4260667316,4272000000,4.324000e+09,8.477,71260000000,330000000,5607000000,2932000000,16.681,9.351000e+09
16,JPM,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-25,-119000000,2533600000000,2551534500000,NaN,...,3469725577,3551600000,3.576800e+09,28.355,2479208000000,0,11459000000,0,698.054,NaN
17,JNJ,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-19,-13199000000,157303000000,152671500000,4.308800e+10,...,2686520050,2692000000,2.745300e+09,28.399,72169000000,7105000000,16373000000,18694000000,26.809,1.255100e+10
18,INTC,MRY,2017-12-31,2017-12-30,2017-12-30,2020-01-24,862000000,123249000000,122023000000,2.950000e+10,...,4680000000,4701000000,4.835000e+09,13.351,86115000000,0,10751000000,7115000000,18.318,1.207900e+10
19,IBM,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-26,-26592000000,125356000000,121245500000,4.973500e+10,...,925791378,932828295,9.373856e+08,84.838,84826000000,4862000000,5642000000,4219000000,90.934,1.237200e+10
20,HD,MRY,2017-12-31,2018-01-28,2018-01-28,2019-11-26,-566000000,44529000000,45113750000,1.893300e+10,...,1167748619,1178000000,1.184000e+09,85.657,42254000000,0,5068000000,1014000000,35.869,2.739000e+09
21,GS,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-21,-1880000000,916776000000,911873750000,NaN,...,377201479,401600000,4.091000e+08,81.499,916776000000,0,6846000000,0,2282.809,NaN
22,GE,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-24,-14301000000,369245000000,363599750000,NaN,...,8672085000,8672085000,NaN,11.448,265004000000,8819000000,-2808000000,0,30.558,NaN
23,DIS,MRY,2017-12-31,2017-09-30,2017-09-30,2020-02-05,-3528000000,95789000000,92981000000,1.588900e+10,...,1543480961,1568000000,1.578000e+09,35.164,57368000000,0,4422000000,4480000000,36.587,-3.706000e+09
24,DD,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-14,-8972000000,192164000000,138441500000,4.989300e+10,...,779988954,526600000,5.327000e+08,22.165,99363000000,1869000000,-1758000000,7109000000,188.688,2.376500e+10
25,CVX,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-21,-3589000000,253806000000,255669000000,2.856000e+10,...,1899373928,1899373928,NaN,74.615,249275000000,0,-48000000,17365000000,131.241,8.230000e+08
26,CSCO,MRY,2017-12-31,2017-07-29,2017-07-29,2020-02-19,46000000,129818000000,127075750000,8.370300e+10,...,5000054399,5010000000,5.049000e+09,9.582,97513000000,4239000000,2678000000,1348000000,19.464,5.612000e+10
27,CAT,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-20,-1192000000,76962000000,77895250000,3.624400e+10,...,594933582,591800000,5.993000e+08,76.820,68651000000,1693000000,3339000000,0,116.004,9.313000e+09
28,BA,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-01,-16373000000,112362000000,95769500000,8.519400e+10,...,595578523,595578523,NaN,157.838,104230000000,321000000,1649000000,2188000000,175.006,1.054600e+10
29,AXP,MRY,2017-12-31,2017-12-31,2017-12-31,2020-02-19,-2428000000,181196000000,169538750000,NaN,...,867996250,883000000,8.860000e+08,38.639,181196000000,0,4677000000,0,205.205,NaN
30,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2020-01-29,-150000000,375319000000,346541250000,1.286450e+11,...,5165228000,5217242000,5.251692e+09,43.938,375319000000,0,15738000000,0,71.938,2.783100e+10

## Most recent observation
https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?qopts.latest=1&api_key=dbyBuiq4bczbbuz9bA4t

In [15]:
quandl.get_table('SHARADAR/SF1', qopts={'latest':1})

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2020-01-29,-3454000000,365725000000,372304500000,1.313390e+11,...,4829926000,4955377000,5.000109e+09,53.597,365725000000,0,13372000000,0,73.804,1.541000e+10
1,AXP,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-19,-2597000000,188602000000,185627750000,NaN,...,854261803,856000000,8.590000e+08,43.208,188602000000,0,1201000000,0,220.329,NaN
2,BA,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-01,-15083000000,117359000000,114690500000,8.783000e+10,...,567885369,567885369,NaN,178.076,106090000000,284000000,1144000000,1736000000,186.816,6.240000e+09
3,CAT,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-20,-1684000000,78509000000,78429750000,3.860300e+10,...,590106711,591400000,5.994000e+08,92.530,70395000000,1439000000,1698000000,0,119.031,1.038500e+10
4,CSCO,MRY,2018-12-31,2018-07-28,2018-07-28,2020-02-19,-849000000,108784000000,121206000000,6.183700e+10,...,4702882494,4837000000,4.881000e+09,10.198,74526000000,3219000000,12929000000,9589000000,15.407,3.480200e+10
5,CVX,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-21,-3544000000,253863000000,256210000000,3.402100e+10,...,1910774369,1910774369,NaN,87.053,249345000000,0,5715000000,18486000000,130.494,6.850000e+09
6,DD,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-14,-12394000000,187855000000,188029000000,1.266550e+11,...,764740291,767000000,7.718000e+08,29.458,138704000000,178000000,195000000,4027000000,180.840,5.334300e+10
7,DIS,MRY,2018-12-31,2018-09-29,2018-09-29,2020-02-05,-3097000000,98598000000,98266750000,1.682500e+10,...,1487242596,1499000000,1.507000e+09,39.649,60517000000,0,1663000000,3109000000,40.372,-1.035000e+09
8,GE,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-24,-14414000000,311072000000,330910250000,NaN,...,8698115000,8698115000,NaN,11.153,264920000000,12117000000,93000000,0,30.457,NaN
9,GS,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-21,693000000,931796000000,957782750000,NaN,...,371973740,385400000,3.902000e+08,95.008,931796000000,0,2022000000,0,2417.737,NaN
10,HD,MRY,2018-12-31,2019-02-03,2019-02-03,2019-11-26,-772000000,44003000000,45521250000,1.852900e+10,...,1129527754,1137000000,1.143000e+09,95.165,41751000000,0,3435000000,656000000,36.720,1.813000e+09
11,IBM,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-26,-29490000000,123382000000,123069750000,4.914600e+10,...,908793777,912048072,9.163157e+08,87.266,84030000000,5216000000,2619000000,3046000000,92.133,1.091900e+10
12,INTC,MRY,2018-12-31,2018-12-29,2018-12-29,2020-01-24,-974000000,127963000000,127693250000,2.878700e+10,...,4564000000,4611000000,4.701000e+09,15.365,91614000000,0,2264000000,6562000000,19.869,1.216100e+10
13,JNJ,MRY,2018-12-31,2018-12-30,2018-12-30,2020-02-19,-15222000000,152954000000,155161750000,4.603300e+10,...,2681977969,2681500000,2.728700e+09,30.424,74890000000,7640000000,2702000000,16566000000,27.928,1.480300e+10
14,JPM,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-25,-1507000000,2622532000000,2609387500000,NaN,...,3325410725,3396400000,3.414000e+09,32.101,2568183000000,0,8290000000,0,756.149,NaN
15,KO,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-24,-12814000000,83216000000,88242000000,2.493000e+10,...,4256513898,4259000000,4.299000e+09,8.054,61629000000,2674000000,1749000000,2765000000,14.470,-3.852000e+09
16,MCD,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-26,-2609500000,32811200000,33324050000,4.053200e+09,...,770910250,778200000,7.856000e+08,27.018,30479700000,0,1891800000,3778700000,39.167,1.079700e+09
17,MMM,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-06,-6866000000,36500000000,37282000000,1.370900e+10,...,582287135,588500000,6.020000e+08,55.675,23792000000,0,1637000000,243000000,40.428,6.465000e+09
18,MRK,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-27,-5545000000,82637000000,84712000000,2.587500e+10,...,2600376500,2600376500,NaN,16.265,51280000000,0,2508000000,3673000000,19.720,3.669000e+09
19,MSFT,MRY,2018-12-31,2018-06-30,2018-06-30,2020-01-29,-2187000000,258848000000,252361250000,1.696620e+11,...,7683197503,7700000000,7.794000e+09,14.332,215112000000,0,19903000000,32927000000,27.937,1.111740e+11
20,NKE,MRY,2018-12-31,2018-05-31,2018-05-31,2020-01-07,-92000000,22536000000,23197500000,1.513400e+10,...,1611759392,1623800000,1.659100e+09,22.415,22097000000,2509000000,2392000000,3366000000,13.608,9.094000e+09
21,PFE,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-28,-11275000000,159422000000,164213000000,4.992600e+10,...,5780474578,5872000000,5.977000e+09,9.136,70800000000,5298000000,706000000,19702000000,12.057,1.806800e+10
22,PG,MRY,2018-12-31,2018-06-30,2018-06-30,2020-01-23,-14749000000,118310000000,123043500000,2.332000e+10,...,2514599476,2514599476,NaN,26.578,49233000000,0,3465000000,6163000000,19.579,-4.917000e+09
23,TRV,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-13,-1859000000,104233000000,103955500000,NaN,...,264882804,267400000,2.698000e+08,113.246,99951000000,445000000,438000000,0,373.788,NaN
24,TSLA,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-14,-8000000,29740000000,28546035500,8.307000e+09,...,171732775,171000000,1.710000e+08,125.503,29390000000,0,58000000,0,171.871,-1.686000e+09
25,UNH,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-15,-4160000000,152221000000,153372000000,3.869200e+10,...,962034200,963000000,9.830000e+08,234.940,83986000000,0,3562000000,2474000000,87.213,-1.451700e+10
26,UTX,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-06,-9333000000,134211000000,112374500000,3.550300e+10,...,800984201,800400000,8.101000e+08,83.085,59675000000,1646000000,2626000000,0,74.556,4.135000e+09
27,V,MRY,2018-12-31,2018-09-30,2018-09-30,2020-02-01,547000000,69225000000,68399000000,1.821600e+10,...,2034251465,2049000000,2.586000e+09,10.058,26473000000,0,2505000000,4618000000,12.920,6.911000e+09
28,VZ,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-21,2370000000,264829000000,264552500000,3.463600e+10,...,4132015101,4128000000,4.132000e+09,31.701,136310000000,0,3584000000,33795000000,33.021,-3.294000e+09
29,WMT,MRY,2018-12-31,2019-01-31,2019-01-31,2019-12-04,-11542000000,219295000000,214216750000,6.189700e+10,...,2905260059,2929000000,2.945000e+09,175.625,188114000000,0,4281000000,12409000000,64.225,-1.558000e+10
30,XOM,MRY,2018-12-31,2018-12-31,2018-12-31,2020-02-26,-19564000000,346196000000,349610000000,4.797300e+10,...,4233807170,4233807170,NaN,68.546,346196000000,0,9532000000,29856000000,81.769,-9.165000e+09

## Recently updated data
https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?lastupdated.gte=2017-11-38&api_key=dbyBuiq4bczbbuz9bA4t

In [19]:
quandl.get_table('SHARADAR/SF1', lastupdated={'gte':'2017-11-03'},
                 ticker='AAPL')

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2020-01-29,-3454000000,365725000000,372304500000,131339000000,...,4829926000,4955377000,5000109000,53.597,365725000000,0,13372000000,0,73.804,15410000000
1,AAPL,MRY,2017-12-31,2017-09-30,2017-09-30,2020-01-29,-150000000,375319000000,346541250000,128645000000,...,5165228000,5217242000,5251692000,43.938,375319000000,0,15738000000,0,71.938,27831000000
2,AAPL,MRY,2016-12-31,2016-09-24,2016-09-24,2020-01-29,634000000,321686000000,306462250000,106869000000,...,5388443000,5470820000,5500281000,39.416,313066000000,0,15685000000,0,57.225,27863000000
3,AAPL,MRY,2015-12-31,2015-09-26,2015-09-26,2020-01-29,-345000000,290345000000,271646000000,89378000000,...,5702722000,5753421000,5793069000,40.622,281336000000,0,19121000000,0,48.899,8768000000
4,AAPL,MRY,2014-12-31,2014-09-27,2014-09-27,2020-01-29,1082000000,231839000000,221383000000,68531000000,...,5987867000,6085572000,6122663000,30.037,223081000000,4318000000,13973000000,0,36.657,5083000000
5,AAPL,MRY,2013-12-31,2013-09-28,2013-09-28,2020-01-29,-471000000,207000000000,199421750000,73286000000,...,6359479000,6477320000,6521634000,26.386,201244000000,3453000000,13118000000,0,31.069,29628000000
6,AAPL,MRY,2012-12-31,2012-09-29,2012-09-29,2020-01-29,499000000,176064000000,157143750000,57653000000,...,6561842000,6543726000,6617483000,23.917,170705000000,2583000000,14030000000,0,26.087,19111000000
7,AAPL,MRY,2011-12-31,2011-09-24,2011-09-24,2020-01-29,443000000,116371000000,101193750000,44988000000,...,6489636202,6469806000,6556515000,16.731,111939000000,2014000000,8283000000,0,17.302,17018000000

## Events by Ticker
https://www.quandl.com/api/v3/datatables/SHARADAR/EVENTS.csv?ticker=AAPL&api_key=dbyBuiq4bczbbuz9bA4t

In [20]:
quandl.get_table('SHARADAR/EVENTS', ticker='AAPL')

     ticker       date eventcodes
None
0      AAPL 2020-02-27         57
1      AAPL 2020-02-18      71|91
2      AAPL 2020-02-14         34
3      AAPL 2020-02-12         34
4      AAPL 2020-02-10         34
...     ...        ...        ...
219    AAPL 1999-02-05         34
220    AAPL 1999-01-07         34
221    AAPL 1998-12-23         51
222    AAPL 1998-08-10         34
223    AAPL 1998-01-08         21

[224 rows x 3 columns]

## Events by Date
https://www.quandl.com/api/v3/datatables/SHARADAR/EVENTS.csv?date=2016-04-18&api_key=dbyBuiq4bczbbuz9bA4t

In [21]:
quandl.get_table('SHARADAR/EVENTS', date='2016-04-18')

     ticker       date eventcodes
None
0       IBM 2016-04-18         22
1       JPM 2016-04-18      81|91

## Ticker Metadata
https://www.quandl.com/api/v3/datatables/SHARADAR/TICKERS.csv?table=SF1&ticker=AAPL&api_key=dbyBuiq4bczbbuz9bA4t

In [22]:
quandl.get_table('SHARADAR/TICKERS', table='SF1', ticker='AAPL')

,table,permaticker,ticker,name,exchange,isdelisted,category,cusips,siccode,sicsector,...,currency,location,lastupdated,firstadded,firstpricedate,lastpricedate,firstquarter,lastquarter,secfilings,companysite
None,,,,,,,,,,,,,,,,,,,,,
0,SF1,199059,AAPL,Apple Inc,NASDAQ,N,Domestic,037833100,3571,Manufacturing,...,USD,California; U.S.A,2020-01-29,2014-09-24,1986-01-01,2020-03-06,1996-09-30,2019-12-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.apple.com

## Indicator Descriptions by Table
https://www.quandl.com/api/v3/datatables/SHARADAR/INDICATORS.csv?table=SF1&api_key=dbyBuiq4bczbbuz9bA4t

In [25]:
quandl.get_table('SHARADAR/INDICATORS', table='SF1')

,table,indicator,isfilter,isprimarykey,title,description,unittype
None,,,,,,,
0,SF1,revenue,N,N,Revenues,[Income Statement] Amount of Revenue recognize...,currency
1,SF1,cor,N,N,Cost of Revenue,[Income Statement] The aggregate cost of goods...,currency
2,SF1,sgna,N,N,Selling General and Administrative Expense,[Income Statement] A component of [OpEx] repre...,currency
3,SF1,rnd,N,N,Research and Development Expense,[Income Statement] A component of [OpEx] repre...,currency
4,SF1,opex,N,N,Operating Expenses,[Income Statement] Operating expenses represen...,currency
...,...,...,...,...,...,...,...
106,SF1,dimension,Y,Y,Dimension,[Entity] The dimension field allows you to tak...,text
107,SF1,calendardate,Y,N,Calendar Date,[Entity] The Calendar Date represents the norm...,date (YYYY-MM-DD)
108,SF1,datekey,N,Y,Date Key,[Entity] The Date Key represents the SEC filin...,date (YYYY-MM-DD)
109,SF1,reportperiod,N,Y,Report Period,[Entity] The Report Period represents the end ...,date (YYYY-MM-DD)
110,SF1,lastupdated,Y,N,Last Updated Date,[Entity] Last Updated represents the last date...,date (YYYY-MM-DD)

## Indicator Descriptions by Indicator
https://www.quandl.com/api/v3/datatables/SHARADAR/INDICATORS.csv?indicator=revenue&api_key=dbyBuiq4bczbbuz9bA4t

In [27]:
quandl.get_table('SHARADAR/INDICATORS', indicator='revenue')

,table,indicator,isfilter,isprimarykey,title,description,unittype
None,,,,,,,
0,SF1,revenue,N,N,Revenues,[Income Statement] Amount of Revenue recognize...,currency

# Test_Section

In [40]:
import numpy as np
import pandas as pd
import pyexcel
import statsmodels.api as stat
import statsmodels.tsa.stattools as ts
import quandl
from quantrautil import get_quantinsti_api_key

quandl.ApiConfig.api_key="dbyBuiq4bczbbuz9bA4t"

data = []
headers = ['Date','commodity1','commodity2','zscore','signal','status',
           'buy price','sell price','mtm','pnl','Cointegration test']

data.append(headers)
threshold = 1.75
start=80
end=90
prev_status = ""
mtm = ""
prev_sell_price = ""
sell_price = ""
prev_buy_price = ""
buy_price = ""
SL = -10000
TP = 20000
N=5000
M=5000

data1 = quandl.get("CHRIS/MCX_AL1", start_date="2014-04-01", 
                   end_date="2016-07-01", api_key=key)

data2 = quandl.get("CHRIS/MCX_PB1", start_date="2014-04-01", 
                   end_date="2016-07-01", api_key=key)

data1 = data1.dropna()
data2 = data2.dropna()

data1['key']=data1.index
data2['key']=data2.index

result = pd.merge(data1, data2, on='key', left_index=True,
                  right_index=False)

data1 = result[['Open_x','High_x','Low_x','Close_x','Volume_x']]
data2 = result[['Open_y','High_y','Low_y','Close_y','Volume_y']]

data1.columns = ['Open','High','Low','Close','Volume']

data2.columns = ['Open','High','Low','Close','Volume']

def cointegration_test(x, y):
    result = stat.OLS(x['Close'], y['Close']).fit()
    return ts.adfuller(result.resid)

def zscore_cal(data1,data2,start,end):
    s1 = pd.Series(data1['Close'][start:end])
    s2 = pd.Series(data2['Close'][start:end])

    mvavg_old = np.mean(np.log(s1) - np.log(s2))

    std_old = np.std(np.log(s1) - np.log(s2))
    
    current_spread = np.log(data1['Close'][end])- np.log(data2['Close'][end])

    zscore = (current_spread - mvavg_old)/std_old if std_old > 0 else 0

    return zscore

def signal_cal(zscore,threshold,adftest):
    if zscore > threshold and adftest == 'Yes':
        signal = 'SELL' 

    elif zscore < -threshold and adftest == 'Yes':
        signal = 'BUY'

    else:
        signal = ''
    return signal

def status_cal(prev_status,mtm,SL,TP,signal,adftest):
    if prev_status in ["","SL","TP","CB"]:
        status = signal
    else:
        if adftest == "No":
            status = "CB"
        else:
            if mtm == "":
                status = ""
            else:
                if mtm<SL:
                    status="SL"
                else:
                    if mtm>TP:
                        status="TP"
                    else:
                        status = prev_status

    return status

def buy_price_cal(prev_status,prev_buy_price,buy_price,
                  signal,status,data1, data2,end):
    if status == prev_status:
        buy_price = prev_buy_price
    else:
        if status in ["SL","TP","CB",""]:
            buy_price = ""
        else:
            if signal == "BUY":
                buy_price = data1['Close'][end]
            else:
                if signal == "SELL":
                    buy_price = data2['Close'][end]
                else:
                    buy_price = ""

    return buy_price

def sell_price_cal(prev_status,prev_sell_price,
                   sell_price,signal,status, data1,data2,end):
    if status == prev_status:
        sell_price = prev_sell_price
    else:
        if status in ["SL","TP","CB",""]:
            sell_price = ""
        else:
            if signal == "BUY":
                sell_price = data2['Close'][end]
            else:
                if signal == "SELL":
                    sell_price = data1['Close'][end]
                else:
                    sell_price = ""

    return sell_price

def mtm_cal(data1,data2,prev_status,prev_sell_price,
            prev_buy_price,M,N,end):
    if prev_status == "BUY":
        mtm = (prev_sell_price-data2['Close'][end])*M+(data1['Close'][end]-prev_buy_price)*N if prev_buy_price else 0
    else:
        if prev_status == "SELL":
            mtm =(prev_sell_price-data1['Close'][end])*N+(data2['Close'][end]-prev_buy_price)*M if prev_buy_price else 0
        else:
            mtm = ""

    return mtm

def strategy(data1,data2,threshold,start,end,
             prev_status,mtm,prev_sell_price,sell_price,
             prev_buy_price,buy_price,SL,TP,M,N):
    pnl = 0
    i = 0
    for row in data1[90:].iterrows():
        
        d1 = data1[i:90+i]
        d2 = data2[i:90+i]
        c_t = cointegration_test(d1, d2)
        if c_t[0] <= c_t[4]['10%'] and c_t[1] <= 0.1:
            adftest = "Yes"
        else:
            adftest = "No"
        
        zscore = zscore_cal(data1,data2,start,end)
        signal = signal_cal(zscore,threshold,adftest)
        mtm = mtm_cal(data1,data2,prev_status,
                      prev_sell_price,prev_buy_price,M,N,end)
        status = status_cal(prev_status,mtm,SL,TP,signal,adftest)
        buy_price = buy_price_cal(prev_status,prev_buy_price,
                                  buy_price,signal,status,data1,data2,end)
        sell_price = sell_price_cal(prev_status,
                                    prev_sell_price,sell_price,
                                    signal,status,data1,data2,end)

        pnl = (pnl + mtm) if status in ['TP','SL','CB'] else pnl

In [46]:
import statsmodels.api as sm
df=sm.datasets.macrodata.load_pandas().data
df

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [48]:
index=sm.tsa.datetools.dates_from_range('1959Q1','2009Q3')
df.index=index
df

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959-03-31,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959-06-30,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959-09-30,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959-12-31,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960-03-31,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-09-30,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008-12-31,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009-03-31,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009-06-30,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009-09-30,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [54]:
import pandas as pd
import pandas_datareader as pdr

start=pd.to_datetime('2015-01-01')
end=pd.to_datetime('2020-01-01')

In [94]:
ticker=['AAPL', 'CSCO','IBM','AMZN']

data = pdr.get_data_yahoo(ticker, start="2017-01-01", end="2020-03-06")
data=data['Adj Close']
data

Symbols           AAPL       CSCO         IBM         AMZN
Date
2017-01-03  110.691154  27.626755  145.416626   753.669983
2017-01-04  110.567276  27.462530  147.217041   757.179993
2017-01-05  111.129562  27.526394  146.729950   780.450012
2017-01-06  112.368469  27.581137  147.451843   795.989990
2017-01-09  113.397697  27.535517  145.816681   796.919983
...                ...        ...         ...          ...
2020-03-02  298.809998  41.169998  134.300003  1953.949951
2020-03-03  289.320007  40.040001  128.899994  1908.989990
2020-03-04  302.739990  41.389999  134.220001  1975.829956
2020-03-05  292.920013  39.570000  129.550003  1924.030029
2020-03-06  289.029999  39.680000  127.730003  1901.089966

[799 rows x 4 columns]

In [88]:
data

Date
2017-01-03 00:00:00                                               753.67
2017-01-04 00:00:00                                               757.18
2017-01-05 00:00:00                                               780.45
2017-01-06 00:00:00                                               795.99
2017-01-09 00:00:00                                               796.92
                                             ...
2020-03-04 00:00:00                                              1975.83
2020-03-05 00:00:00                                              1924.03
2020-03-06 00:00:00                                              1901.09
Normalized_R           Symbols         AAPL      CSCO       IBM      ...
Nominal R              Date
2017-01-03 00:00:00                      ...
Name: AMZN, Length: 801, dtype: object

# New_Tricks

## Tricks_One

## Tricks_Two

## Tricks_Three

# SECTION_HEADDER_1

## Concept_1_One

## Concept_1_Two

## Concept_1_Three

# SECTION_HEADDER_3

## Concept_2_One

### Aspect_2_One

### Aspect_2_Two

### Aspect_2_Three

## Concept_2_Two

### Aspect_2_One

### Aspect_2_Two

### Aspect_2_Three

## Concept_2_Three

### Aspect_2_One

### Aspect_2_Two

### Aspect_2_Three

# SECTION_HEADDER_3

## Concept_3_One

### Aspect_3_One

### Aspect_3_Two

### Aspect_3_Three

## Concept_3_Two

### Aspect_3_One

### Aspect_3_Two

### Aspect_3_Three

## Concept_3_Three

### Aspect_3_One

### Aspect_3_Two

### Aspect_3_Three